@import '@/styles/variables.scss';

.pagaWrap {
  width: 100vw;
  height: 100vh;
  background-color: transparent;
  display: flex;
  flex-direction: column;
}
.containerBox {
  width: 100%;
  flex: 1;
  overflow: scroll;
  background-color: $pages-bg-color;
}
