.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: calc(100vh - 186px);
}

.pageTitle {
  width: 750px;
  height: 108px;
  margin-top: 88px;
  padding-top: 32px;
  padding-left: 48px;
}

.addBtn {
  width: 64px;
  height: 64px;
  background: linear-gradient(180deg, #ffffff 0%, rgba(255, 255, 255, 0.4) 100%);
  border: 2px solid #ffffff;
  border-radius: 50%;
}

.titleText {
  height: 56px;
  font-weight: bold;
  font-size: 40px;
  color: #333333;
  line-height: 56px;
  text-align: left;
  font-style: normal;
  text-transform: none;
}

.iconBox {
  height: 56px;
}

.mr8 {
  margin-right: 8px;
}

.ml32 {
  margin-left: 32px;
}

.content {
  width: 100%;
  flex: 1;
  overflow: hidden;
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 52px;
  margin-bottom: 40px;
}

.scrollViewBox {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
