/* stylelint-disable selector-max-type */
.tabBar {
  width: 100%;
  height: 182px;
  background: #ffffff;
  border-radius: 0;
  border: 2px solid rgba(0, 0, 0, 0.05);
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.tabBarItem {
  width: 172px;
  height: 100%;
  border-radius: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.itemText {
  width: 100%;
  height: 30px;
  margin-top: 4px;
  font-weight: bold;
  line-height: 30px;
  text-align: center;
  font-style: normal;
  text-transform: none;
  font-size: 24px;
}
